body {
  background: #f9f9f5;
}

.algorithm{
  &-container {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
  }

  &-table {
    margin-bottom: 20px;

    table {
      font-size: 16px;
      text-align: center;
      border: 1px solid #e9e9e9;
      border-collapse: collapse;
      overflow: visible;

      thead > tr > th {
        text-align: center;
        border: 1px solid #e9e9e9;
      }

      tbody > tr > td {
        border: 1px solid #e9e9e9;

        &.correct {
          color: #fff;
          background: #87d068;
        }

        &.incorrect {
          color: #fff;
          background: #ffbf00;
        }

        &.error {
          color: #fff;
          background: #f30;
        }
      }
    }
  }

  &-refresh {
    position: fixed;
    right: 30px;
    bottom: 30px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
  }

  &-down {
    position: fixed;
    right: 70px;
    bottom: 30px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
  }

  &-up {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
  }
}
